 .con{
     width: 800px;
     height: 800px;
     background: gray;
     display:-webkit-box;
     -webkit-box-pack:center;
     -webkit-box-align:center;
     text-align: center;
     /*vertical-align*/
}
.one{
     width: 150px;
     height: 100px;
     background: red;
}
.two{
     width: 150px;
     height: 100px;
     background: yellow;
}
.three{
     width: 150px;
     height: 100px;
     background: blue;
}