.body--block4 {
  width: 1005px;
  height: 470px;
  position: relative;
  left: 50%;
  margin-left: -500px;
}
.body--block4--grand1 {
  width: 1000px;
  height: 70px;
  background: none;
  font-size: 16px;
  line-height: 70px;
}
.body--block4--grand2 {
  width: 1005px;
  height: 410px;
}
a {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 10px;
}
.body--block4--grand2--parent1 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
}
.body--block4--grand2--parent1:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent2 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.body--block4--grand2--parent2:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent3 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.body--block4--grand2--parent3:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent4 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.body--block4--grand2--parent4:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent5 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.body--block4--grand2--parent5:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent6 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.body--block4--grand2--parent6:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent7 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.body--block4--grand2--parent7:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent8 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-top: 10px;
}
.body--block4--grand2--parent8:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent9 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent9:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent10 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent10:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent11 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent11:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent12 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent12:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent13 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent13:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent14 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent14:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent15 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-top: 10px;
}
.body--block4--grand2--parent15:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent16 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent16:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent17 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent17:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent18 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent18:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent19 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent19:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent20 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent20:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}
.body--block4--grand2--parent21 {
  width: 135px;
  height: 130px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
  margin-top: 10px;
}
.body--block4--grand2--parent21:hover {
  box-shadow: -2px 0px 2px 0px #F2EBEB, /*左边阴影  绿色*/ 2px 0px 2px 0px #F2EBEB, /*右边阴影  蓝色*/ 0px 3px 5px 2px #DAD3D3;
  /*下边阴影  黄色*/
}