.body--block6 {
  width: 1000px;
  height: 550px;
  position: relative;
  margin-top: 20px;
  left: 50%;
  margin-left: -500px;
}
.body--block6--grand1 {
  width: 497px;
  height: 330px;
  background: white;
  position: relative;
  float: left;
}
.body--block6--grand1--parent1 {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid gray;
}
.partf1-1-more {
  position: relative;
  float: right;
  font-size: 12px;
  margin-right: 20px;
}
.partf1-1-more:hover a {
  color: green;
}
.partf1-1 a {
  font-size: 12px;
}
.body--block6--grand1--parent2 {
  height: 25px;
  line-height: 25px;
  margin-top: 15px;
}
.body--block6--grand1--parent2 a {
  color: black;
}
.body--block6--grand1--parent2 a:hover {
  color: green;
}
.body--block6--grand1--parent2 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent3 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent3 a {
  color: black;
}
.body--block6--grand1--parent3 a:hover {
  color: green;
}
.body--block6--grand1--parent4 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent4 a {
  color: black;
}
.body--block6--grand1--parent4 a:hover {
  color: green;
}
.body--block6--grand1--parent5 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent5 a {
  color: black;
}
.body--block6--grand1--parent5 a:hover {
  color: green;
}
.body--block6--grand1--parent6 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent6 a {
  color: black;
}
.body--block6--grand1--parent6 a:hover {
  color: green;
}
.body--block6--grand1--parent7 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent7 a {
  color: black;
}
.body--block6--grand1--parent7 a:hover {
  color: green;
}
.body--block6--grand1--parent8 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent8 a {
  color: black;
}
.body--block6--grand1--parent8 a:hover {
  color: green;
}
.body--block6--grand1--parent9 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent9 a {
  color: black;
}
.body--block6--grand1--parent9 a:hover {
  color: green;
}
.body--block6--grand1--parent10 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent10 a {
  color: black;
}
.body--block6--grand1--parent10 a:hover {
  color: green;
}
.body--block6--grand1--parent11 a img {
  height: 16px;
  width: 18px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand1--parent11 a {
  color: black;
}
.body--block6--grand1--parent11 a:hover {
  color: green;
}
.body--block6--grand2 {
  width: 497px;
  height: 330px;
  background: white;
  position: relative;
  float: left;
  margin-left: 6px;
}
.body--block6--grand2--parent1 {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid gray;
}
.partf2-1-more {
  position: relative;
  float: right;
  margin-right: 20px;
  font-size: 12px;
}
.partf2-1-more:hover {
  color: green;
}
.partf2-1 a {
  font-size: 12px;
}
.body--block6--grand2--parent2 {
  height: 25px;
  line-height: 25px;
  margin-top: 15px;
}
.body--block6--grand2--parent2 a {
  color: black;
}
.body--block6--grand2--parent2 a:hover {
  color: green;
}
.body--block6--grand2--parent2 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent3 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent3 a {
  color: black;
}
.body--block6--grand2--parent3 a:hover {
  color: green;
}
.body--block6--grand2--parent4 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent4 a {
  color: black;
}
.body--block6--grand2--parent4 a:hover {
  color: green;
}
.body--block6--grand2--parent5 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent5 a {
  color: black;
}
.body--block6--grand2--parent5 a:hover {
  color: green;
}
.body--block6--grand2--parent6 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent6 a {
  color: black;
}
.body--block6--grand2--parent6 a:hover {
  color: green;
}
.body--block6--grand2--parent7 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent7 a {
  color: black;
}
.body--block6--grand2--parent7 a:hover {
  color: green;
}
.body--block6--grand2--parent8 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent8 a {
  color: black;
}
.body--block6--grand2--parent8 a:hover {
  color: green;
}
.body--block6--grand2--parent9 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent9 a {
  color: black;
}
.body--block6--grand2--parent9 a:hover {
  color: green;
}
.body--block6--grand2--parent10 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent10 a {
  color: black;
}
.body--block6--grand2--parent10 a:hover {
  color: green;
}
.body--block6--grand2--parent11 a img {
  height: 18px;
  width: 13px;
  position: relative;
  margin-left: 20px;
  line-height: 25px;
  margin-top: 5px;
}
.body--block6--grand2--parent11 a {
  color: black;
}
.body--block6--grand2--parent11 a:hover {
  color: green;
}
.body--block6--grand3 {
  width: 1000px;
  height: 220px;
  position: relative;
  float: left;
  /*margin-top: 20px;*/
  margin-bottom: 100px;
  overflow: hidden;
}
.body--block6--grand3--parent1 {
  width: 2000px;
  height: 200px;
  background: gray;
  position: relative;
  margin-top: 20px;
  margin-bottom: 100px;
  animation: mymoveab1 20s linear  infinite;
}
@keyframes mymoveab1 {
  0% {
    left: 0px;
  }
  20% {
    left: 0px;
  }
  40% {
    left: -1000px;
  }
  60% {
    left: -1000px;
  }
  80% {
    left: -2000px;
  }
  100% {
    left: -2000px;
  }
}
.partf3-a {
  width: 1000px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
}
.partf3-a-1 {
  width: 327px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
}
.partf3-a-1-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #F4F4F4;
  text-align: center;
}
.partf3-a-1-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-a-1-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-a-1-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-a-1-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-a-1-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-a-1-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-a-1-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-a-1-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.partf3-a-2 {
  width: 327px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.partf3-a-2-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #3AD29E;
  text-align: center;
}
.partf3-a-2-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-a-2-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-a-2-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-a-2-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-a-2-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-a-2-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-a-2-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-a-2-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.partf3-a-3 {
  width: 326px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.partf3-a-3-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #FF8888;
  text-align: center;
}
.partf3-a-3-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-a-3-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-a-3-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-a-3-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-a-3-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-a-3-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-a-3-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-a-3-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.partf3-b {
  width: 1000px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
}
.partf3-b-1 {
  width: 327px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
}
.partf3-b-1-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #FF8888;
  text-align: center;
}
.partf3-b-1-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-b-1-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-b-1-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-b-1-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-b-1-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-b-1-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-b-1-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-b-1-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.partf3-b-2 {
  width: 327px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.partf3-b-2-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #FF8888;
  text-align: center;
}
.partf3-b-2-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-b-2-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-b-2-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-b-2-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-b-2-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-b-2-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-b-2-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-b-2-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.partf3-b-3 {
  width: 326px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.partf3-b-3-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #FF8888;
  text-align: center;
}
.partf3-b-3-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-b-3-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-b-3-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-b-3-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-b-3-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-b-3-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-b-3-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-b-3-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.partf3-c {
  width: 1000px;
  height: 200px;
  background: white;
  position: absolute;
  margin-left: 1000px;
  margin-top: -300px;
  animation: mymoveab-c 20s linear infinite;
}
@keyframes mymoveab-c {
  0% {
    left: 0px;
  }
  60% {
    left: 0px;
  }
  80% {
    left: -1000px;
  }
  100% {
    left: -1000px;
  }
}
.body--block6--grand3--parent2--child1 {
  width: 327px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
}
.partf3-c-1-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #F4F4F4;
  text-align: center;
}
.partf3-c-1-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-c-1-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-c-1-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-c-1-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-c-1-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-c-1-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-c-1-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-c-1-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.body--block6--grand3--parent2--child2 {
  width: 327px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.partf3-c-2-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #3AD29E;
  text-align: center;
}
.partf3-c-2-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-c-2-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-c-2-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-c-2-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-c-2-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-c-2-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-c-2-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-c-2-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.body--block6--grand3--parent2--child3 {
  width: 326px;
  height: 200px;
  background: white;
  position: relative;
  float: left;
  margin-left: 10px;
}
.partf3-c-3-top {
  width: 70px;
  height: 20px;
  position: relative;
  margin-left: 125px;
  margin-top: 10px ;
  font-size: 13px;
  color: white;
  line-height: 20px;
  background: #FF8888;
  text-align: center;
}
.partf3-c-3-middle {
  width: 260px;
  height: 95px;
  font-size: 12px;
  line-height: 22px;
  position: relative;
  margin-left: 35px;
  margin-top: 10px;
  text-align: left;
}
.partf3-c-3-middle-one img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -103px;
  margin-left: -140px;
}
.partf3-c-3-middle-two img {
  width: 14px;
  height: 10px;
  position: absolute;
  margin-top: -20px;
  margin-left: 123px;
}
.partf3-c-3-down {
  height: 70px;
  width: 327px ;
  position: relative;
  margin-top: -5px;
  background: #FAFAFA;
}
.partf3-c-3-down-image {
  height: 70px;
  width: 95px;
  background: #FAFAFA;
}
.partf3-c-3-down-image img {
  position: relative;
  margin-left: 10px;
  margin-top: 10px ;
  border-top-right-radius: 50% ;
  border-top-left-radius: 50% ;
  border-bottom-right-radius: 50% ;
  border-bottom-left-radius: 50% ;
}
.partf3-c-3-word1 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -55px;
  margin-left: 95px;
}
.partf3-c-3-word2 {
  font-size: 12px;
  color: black;
  line-height: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 95px;
}
.body--block6--grand3--parent3 {
  width: 20px;
  height: 40px;
  background: #CCCCCC;
  position: absolute;
  margin-top: -220px;
  margin-left: 0px;
  opacity: 0;
}
.partf3rightarrow {
  width: 20px;
  height: 40px;
  background: #CCCCCC;
  position: absolute;
  margin-top: -220px;
  margin-left: 980px;
  opacity: 0;
}
.partf3:hover .body--block6--grand3--parent3 {
  transition: 0.5s;
  opacity: 0.9;
}
.partf3:hover .partf3rightarrow {
  transition: 0.5s;
  opacity: 0.9;
}
.body--block6--grand3--parent3:hover img {
  opacity: 1;
  background: gray;
}
.partf3rightarrow img:hover {
  background: gray;
}