.posa {
  position: absolute;
}
.posr {
  position: relative;
}
.body0 {
  width: 600px;
  height: 600px;
  font-size: 30px;
  border: 5px solid yellow;
  text-align: center;
  margin-left: 100px;
}
.block2 {
  width: 580px;
  height: 400px;
  position: absolute;
  margin-left: 10px;
}
.block2 ul li {
  width: 550px;
  height: 180px;
  position: relative;
  text-align: justify;
  font-size: 30px;
}
.block2 ul li ul {
  width: 600px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.block2 ul li ul li {
  width: 25px;
  height: 100px;
  position: relative;
  float: left;
  display: -webkit-flex;
  margin-top: 20px;
  font-size: 20px;
}
.block2-grand1 {
  position: absolute;
  margin-left: 100px;
  margin-top: -28px;
  height: 60px;
  width: 300px;
  background: white;
}
.block2-grand1--parent1 {
  font-size: 15px;
  position: absolute;
  margin-left: 200px;
  margin-top: -20px;
}
.block2-grand1--parent2 {
  font-size: 15px;
  margin-left: 200px;
  margin-top: 0px;
}
.triangle {
  position: absolute;
  margin-left: 0;
  margin-top: -160px;
  width: 430px;
  height: 10px;
  background: red;
}
.triangle-right {
  width: 0;
  height: 0;
  border-top: 23px solid transparent;
  border-left: 175px solid red;
  border-bottom: 0px solid transparent;
  position: absolute;
  margin-top: -13px;
  margin-left: 364px;
}
